@model IEnumerable<product_web_app.Models.Product>

@{
    ViewData["Title"] = "GetAll";
}

<h1>GetAll</h1>

@{
    if(ViewBag != null)
    {
        <label>@ViewBag.msg</label>
    }
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                TenantId
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                IsAvailabe
            </th>
            <th>
                Id
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailabe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id})       
            </td>
        </tr>
}
    </tbody>
</table>
